# .env.example

# Public environment variable accessible on the client-side
NEXT_PUBLIC_API_URL=https://testapp.trollaexpress.com/api/v1

# Server-side only variables
DATABASE_URL=mongodb://localhost:27017/mydb
SECRET_KEY=your_secret_key_here

# Example for different environments
NEXT_PUBLIC_ENVIRONMENT=development  # Change to production for production build

#----------------------------- sample env -----------------------------

NODE_ENV='staging'
HOST_NAME=''
API_BASE_URL=''
PRODUCTION=true/false

